@(implicit request: Http.Request, mgs: String)
@main("Welcome to Play") {
@if(mgs){
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>@mgs</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
<div class="card">
    <h5 class="card-header text-white bg-primary">Cadastrar novo registro</h5>
    <div class="card-body">
        <form method="POST" action="@routes.PersonController.addPerson()">
            @helper.CSRF.formField
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Idade</label>
                <input type="number" name="age" class="form-control">
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
}