@(implicit request: Http.Request, message: String, person: domains.person.models.Person)
@main("Novo registro") {
@if(message){
<div class="alert alert-success alert-dismissible fade show animated zoomIn" role="alert">
    <strong>@message</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
<div class="card">
    <h5 class="card-header text-white bg-primary animated fadeInDown">Cadastrar pessoa</h5>
    <div class="card-body">
        <form method="POST" action="/">
            @helper.CSRF.formField
            <div class="form-group">
                <label>Código</label>
                <input type="text" name="id" value="@person.id" class="form-control" hidden>
                <input type="text" name="id" value="@person.id" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="name" value="@person.name" class="form-control">
            </div>
            <div class="form-group">
                <label>Idade</label>
                <input type="number" name="age" value="@person.age" class="form-control">
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
}

<script type="text/javascript">
	$(document).ready(function () {
	    setTimeout(function(){
	    	$('.alert').alert('close');
		},3000);
	});
</script>